Fix ETag Handling

We have a few problems with ETag handling:

  - [RFC 7232 sec. 3.1](https://tools.ietf.org/html/rfc7232#section-3.1) requires us to use strong validation on `If-Match`, we use weak.
  - Even our weak validation is incorrect; see [RFC 7232 sec. 2.3.2](https://tools.ietf.org/html/rfc7232#section-2.3.2).
  - If we use strong validation, clients will never be able to use `If-Match` (since we don't generate strong ETags.

Discussion of this issue within the LDP WG is in [this thread](https://lists.w3.org/Archives/Public/public-ldp-wg/2013Feb/0035.html).

The restriction referred to in the email thread linked above was added in https://tools.ietf.org/html/draft-ietf-httpbis-p4-conditional-24. I'm unsure whether the LDP WG ever discussed this development.


The proposed fix is to fail `If-Match` (`Precondition Failed`) for all checks.
